.header {
}


@keyframes slidy {
0% { left: 0%; }
40% { left: 0%; }
50% { left: -100%; }
90% { left: -100%; }
100% { left: -200%; }
}

body { 
	margin: 0; 
} 

div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}







