
<!--
<ul>
	<li><a routerLink="recipes" routerLinkActive="active">recipes</a></li>
	<li><a routerLink="signup">signup</a></li>
</ul>
-->


<!-- 
<app-countdown-timer #timer></app-countdown-timer> 

<button (click)="timer.start()">Start</button>
<button (click)="timer.stop()">Stop</button> 
<div class="seconds">{{timer.seconds}}</div>
-->


<!--
<button (click)="start()">Start</button>
<button (click)="stop()">Stop</button>
<div class="seconds">{{timerComponent.seconds}}</div>

<app-countdown-timer></app-countdown-timer>
-->


<div class="header">

<!--
	<div class="topbar">
		<div class="left">
			<img class="logo" src="../../assets/images/header/logo.png">
		</div>
		<div class="right">
			<img class="user" src="../../assets/images/header/user.png">
			<img class="bag" src="../../assets/images/header/bag.png">
			<img class="search" src="../../assets/images/header/search.png">
			<img class="burgermenu" src="../../assets/images/header/burgermenu.png">
		</div>
	</div>
-->

	<div id="slider">
		<figure>
			<img src="../../assets/images/header/slider_image_1.png" alt>
			<img src="../../assets/images/header/slider_image_1.png" alt>
			<img src="../../assets/images/header/slider_image_1.png" alt>
		</figure>
	</div>

</div>
