<footer class="footer">

<div class="question">
	<p>
		question?
	</p>
	<p>
		<a href="#">help</a>
	</p>
	<p>
		<a href="#">track order</a>
	</p>
	<p>
		<a href="#">returns</a>
	</p>
</div>
<div class="wheretoby">
	<p>where to buy</p>
	<p>
		<a href="#">store locator</a>
	</p>
	<p>
		<a href="#">wishlist</a>
	</p>
	<p>
		<a href="#">gift cards</a>
	</p>	
</div>
<div class="aboutus">
	<p>about us</p>
	<p>
		<a href="#">our story</a>
	</p>
	<p>
		<a href="#">careers</a>
	</p>
	<p>
		<a href="#">affiliates</a>
	</p>

</div>
<div class="paymentcards">
	<img src="../../assets/images/footer/paymentcards.png">
</div>
<div class="logo">
	<img class="logo__image" src="../../assets/images/header/logo.png">

</div>

</footer>