@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.footer {
	background-color: #333333;
	padding:5vw 7vw 5vw 7vw;

	display:grid;
	grid-template-columns:1fr 1fr 1fr 2fr 1fr;
	color:#888888;
	text-transform: capitalize;
	font-size:1.3vw;
}

p {
	padding-top:1vw;
}

p:first-of-type {
	color:#ffffff;
	text-transform: uppercase;
	font-weight: bold;
	padding-top:0px;
}

@include links(#888888); 
/*
a {
		text-decoration:none;
	&:hover {
	};
	&:link {
		color:#888888;
	};
	&:link {
		color:#888888;
	};
	&:visited {
		color:#888888;
	};
}
*/

.logo {
	margin:auto 0;
}

.logo__image {
	width:100%;
}

.paymentcards {
	margin:auto 0;
}
