@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.product-description {
	padding:7vw 7vw 7vw 7vw;
	display: grid;
	grid-template-columns: 1fr 5fr 1fr 5fr;
	grid-gap: 1.3vw;
	* {
		margin-bottom:0.5vw;
	}
}

.small {
	grid-column:1;
	img {
		margin-bottom: .8vw;
		width: 100%;
	}
}

.large {
	grid-column:2;
}

.large__image {
	width: 100%;
}

.description {
	grid-column:4;
}

.tabs {
	width:100%;
	display:flex;
	justify-content: space-around;
}

.tabcore {
	width:100%;
	display:flex;
	justify-content: center;
	align-items: center;
	border-color: #dedede;
	border-width:0.1vw;
	height:2vw;
	cursor: pointer;
}

.tabnotshown {
	@extend .tabcore;
	border-style:none none solid none;
}

.tabshown {
	@extend .tabcore;
	border-style:solid solid none solid;
}

.color__select {
	@include rectangleWithText(#ffffff,#333333,#333333,20vw,3vw,center,0.2vw);
	border-radius:0;
	appearance: none;
	padding:0.3vw;
}
