<app-navigation look="inline"></app-navigation>
<app-allsummer image="50pctofallsummercollection.png"></app-allsummer>

<section class="product-description">

<div class="small">
	<img src="../../assets/images/products/lille1.png">
	<img src="../../assets/images/products/lille2.png">
	<img src="../../assets/images/products/lille3.png">
	<img src="../../assets/images/products/lille4.png">
	<img src="../../assets/images/products/lille5.png">
</div>

<div class="large">
	
	<img class="large__image" src="../../assets/images/products/{{product.image}}">
</div>

<div class="description">
	<p>
		{{product.description}}
	</p>
	<p class="price">
		{{product.price}}
	</p>
	<p class="color">
		<select class="color__select">
			<option>Black
			<option>Black
			<option>Black
			<option>Black
			<option>Black
		</select>
	</p>
	<p class="size">
		<select>
			<option>Select size
		</select>
	</p>
	<button>
		Add to bag
	</button>
	<button>
		Save for later
	</button>
	<div class="tabs">
		<div (click)="tab = 'description'" class="tabnotshown" [class.tabshown]="tab == 'description'">
			Description
		</div>
		<div (click)="tab = 'brands'" class="tabnotshown" [class.tabshown]="tab == 'brands'">
			Brands
		</div>
		<div (click)="tab = 'info'" class="tabnotshown" [class.tabshown]="tab == 'info'">
			Info
		</div>
	</div>
	<div class="tabcontent" *ngIf="tab == 'description'" >
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 		
	</div>
	<div class="tabcontent" *ngIf="tab == 'brands'" >
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 		
	</div>
	<div class="tabcontent" *ngIf="tab == 'info'" >
		Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. 		
	</div>
</div>


</section>

<app-sharpenyourlook></app-sharpenyourlook>
<app-extraordinarydesign direction="normal"></app-extraordinarydesign>
<app-extraordinarydesign direction="reverse"></app-extraordinarydesign>
<app-allsummer image="bigdiscounts.png" collection="bigdiscounts"></app-allsummer>

