@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

.signup {
	background-color: #f8f8f8;
	position:relative;
	top:-0.83vw;
	width:34vw;
	box-shadow: 0px 1vw 3.5vw #eeeeee;

    outline: .3vw solid #dcdcdc;
    outline-offset: -1.2vw;	
    text-align: center;
    padding:3.5vw;
    height:calc(28.2vw + 2.4vw);
    p {
    	margin:1vw;
    }
    img {
    	width:4vw;
    }
}

img { width:100%; }

.subscribe {
	@include rectangleWithText(#f8f8f8,#333333,#333333,100%,4vw,center,0.2vw);
}

.email {
	@include rectangleWithText(#f8f8f8,#333333,#333333,100%,4vw,center,0.2vw);
	border-style: none none solid none;
}

.signup_block {
	width:100%;
	background-color: #33d0de;
	height:16vw;
	display:flex;
	justify-content: center;
	flex-direction: row;
	align-items:center;
}

.elements {
	width:62vw;
	display:flex;
	justify-content: space-between;
}

.signup__headline {
	@include fontsetup($size_1,$bold,uppercase,120%,#333333);
}

.signup__text {
	@include fontsetup($size_2,$normal,uppercase,160%,#777777);
}

.subscribe_block {
	@include rectangleWithText(#ffffff,#ffffff,#333333,30vw,4vw,center,0.2vw);
}

.email_block {
	@include rectangleWithText(#33d0de,#ffffff,#ffffff,30vw,4vw,center,0.2vw);
	@include placeholderColor(#ffffff);
}

h2 {
	color: #dcdcdc;
}
