<div class="signup" *ngIf="look=='inline'">
	<p>
		<img src="../../assets/images/lookbook/letter.png">
	</p>
	<p class="signup__headline">
		get our newsletter
	</p>
	<p class="signup__text">
		join our maillist to receive
		<br>
		special discounts
	</p>
	<p>
		<input class="email" type="text" name="email" id="email" placeholder="enter your email">
	</p>
	<p>
		<button class="subscribe">
			subscribe
		</button>
	</p>

</div>


<div class="signup_block" *ngIf="look=='block'">
	<div class="elements">
		<div>
			<input class="email_block" type="text" name="email" id="email" placeholder="your email">
		</div>
		<div>
			<button class="subscribe_block">
				subscribe to our newsletter
			</button>
		</div>
	</div>
</div>
