.extraordinary--normal {
	display:flex;
	flex-direction: row;
	width:100%;
}

.extraordinary--reverse {
	flex-direction: row-reverse;
	justify-content: flex-end;
}

.left {
	width:50%;
}

.right {
	width:50%;
	padding:80px 100px 100px 100px;
}

.picture {
	width:100%;
}

.headline {
	font-size:30px;
}


