
<div *ngIf="!submitted; else submittedMessage">
<form #signup="ngForm" (ngSubmit)="submitForm()">
	<div>
		<label for="firstname">first name</label>
		<input id="firstname" name="firstname" type="text" required
			[(ngModel)]="user.firstname" 
			#firstname="ngModel"
		>
		<div *ngIf="!firstname.valid && firstname.dirty" class="error">
			firstname is required
		</div>
	</div>
	<div>
		<label for="email">email</label>
		<input id="email" name="email" type="email" required
			[(ngModel)]="user.email" 
			#email="ngModel" 
			pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}"
		>
		<div *ngIf="!email.valid && email.dirty" class="error">
			email wrong
		</div>
	</div>
	<div>
		<button>submit</button>
	</div>
</form>
</div>

<ng-template #submittedMessage>
	Thanks for submitting
</ng-template>
