<div class="allsummer">
	<a routerLink="/collection/{{collection}}">
		<img class="allsummer__picture" src="../../assets/images/allsummer25pctcollection/{{image}}">
	</a>
	<div class="allsummer__text">
		<div style="position:relative; top:-10px;">
			{{collection}}
		</div>
	</div>
</div>




