@import '../../assets/styles/mixin';


.musthave {
	padding:7vw 7vw 7vw 7vw;
	display:grid;
	grid-template-columns:repeat(1fr,12);
	grid-template-rows:1fr 1fr;
	grid-column-gap:5px;
	grid-row-gap:5px;
	height:55vw;
}

.forher {
	grid-area:1/1/3/8;
	@include backgroundimage('../../assets/images/musthave/forher.png');
}

.upto75pctof {
	grid-area:1/8/2/13;
	@include backgroundimage('../../assets/images/musthave/upto75pctof.png');
}

.newsummerstyle {
	grid-area:2/8/3/13;
	@include backgroundimage('../../assets/images/musthave/newsummerstyle.png');
}

