@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';


.form {
    padding:4vw 7vw 4vw 7vw;
	display:flex;
	flex-direction: column;
	* {
		padding:0.2vw;
	}
}

.alertColor {
	background-color: #ffaa00;
}

.namebox .emailbox {
	width:100%; 
}

.name, .email {
    @include rectangleWithText(#ffffff,#000000,#000000,50%,3vw,left,0.2vw);
}

.message {
    @include rectangleWithText(#ffffff,#000000,#000000,50%,10vw,left,0.2vw);
    vertical-align: top;
}

.submit_button {
    @include rectangleWithText(#33d0de,#000000,#ffffff,50%,3vw,center,0.2vw);    
}


label {
    font-size:1.5vw;
}

@media screen and (max-width: 800px) {
    .email, .name, .message, .submit_button {
        width:100%;
    }
}




