<app-navigation look="inline"></app-navigation>

<div *ngIf="!name; else forminfo">
  <form [formGroup]="contactForm" (ngSubmit)="addPost(contactForm.value)" class="form">

    <label for="name">Name</label>
    <div class="namebox" [class.alertColor]="validateName()">
      <input type="text" formControlName="name" required class="name" id="name">
      <span *ngIf="validateName()">
        Name is required
      </span>
    </div>

    <label for="email">Email</label>
    <div class="emailbox" [class.alertColor]="validateEmail()">
      <input type="text" formControlName="email" required class="email" id="email">
      <span *ngIf="validateEmail()">
        You must write a valid email
      </span>
    </div>

    <label for="message">Message</label>
    <div class="messagebox" [class.alertColor]="validateMessage()">
      <textarea formControlName="message" class="message" id="message" id="message"></textarea>
      <span *ngIf="validateMessage()">
        Message must contain more than 30 characters
      </span>
    </div>

<!-- <div>{{contactForm.valid}}</div>
<div>{{contactForm.get('email').valid}}</div> -->
      <div>  
        <input type="submit" class="submit_button" value="Submit Form" [disabled]="!contactForm.valid">
      </div>
  </form>
</div>

<ng-template #forminfo>
  <div class="form-container">
    <div class="row columns">
        <h1>{{ name }}</h1>

        <p>{{ message }}</p>
    </div>
  </div>
</ng-template>




             <!-- <div class="alert" *ngIf="!contactForm.controls['name'].valid && contactForm.controls['name'].touched"></div> -->
        

        <!-- <div class="alert" *ngIf="!contactForm.controls['email'].valid && contactForm.controls['email'].touched">https og .io</div> -->


        <!-- <div class="alert" *ngIf="!contactForm.controls['message'].valid && contactForm.controls['message'].touched">You must specify a description that's between 30 and 500 characters.</div> -->

        <!-- <label for="validate">Minimum of 3 Characters</label> -->
        <!-- <input type="checkbox" name="validate" formControlName="validate" value="1"> On -->


