<router-outlet></router-outlet>
<app-socialmedia></app-socialmedia>
<app-footer></app-footer>


<!--
<app-testtest></app-testtest>

<div *ngFor="let recipe of recipes">
  {{recipe.title}}
</div>
-->

<!--
<app-reactiveform></app-reactiveform>
-->

<!--
<app-templateform></app-templateform>
-->

<!--
<router-outlet></router-outlet>
<app-header></app-header>
<app-lookbook></app-lookbook>
<app-topbrands></app-topbrands>
<app-musthave></app-musthave>
<app-products></app-products>
<app-allsummer></app-allsummer>
<app-review></app-review>
<app-socialmedia></app-socialmedia>
<app-footer></app-footer>
-->

<!--

<button #b (click)="logClick()">click</button> {{ b.innerHTML}}



<input #l value="" type="text" (keyup)="0" > length:{{l.value.length}}

<div class="wrapper">
  hello i'm working --- {{recipe.name}} 
  <div *ngFor="let recipe of recipes">
    {{recipe.name}}
    <ul>
      <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>
  </div>
</div>
-->


