.review {
	padding: 4vw 7vw 4vw 7vw;
	background-color: #33d0de;
	color:#ffffff;
	display:flex;
	flex-direction: column;
	align-items: center;
}

.userpicture__picture {
	width:6vw;
	margin-top:.59vw;
}

.review__username {
	margin-bottom:1vw;
}

.review__userreview {
	line-height: 200%;
	font-style: italic;
	margin-bottom: 1vw;
	width: 60vw;
	text-align: center;
}

.review__userpicture {
	margin-bottom:1vw;
	border-radius: 50%;	
	width: 7.2vw; 
	height:7.2vw; 
	background-color: #71dee8; 
	border-radius:50%;	
	text-align: center;
}


