<section class="review">
	<div class="review__userpicture">
		<img class="userpicture__picture" src="../../assets/images/review/user.png">
	</div>
	<div class="review__username">
		Jane Smith
	</div>
	<div class="review__userreview">
		Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.
	</div>
	<div >
		<img src="../../assets/images/review/progress.png">
	</div>
</section>
