@import '../../assets/styles/mixin';
@import '../../assets/styles/variables';

@include links(#000000);

.productslist {
	width:100%;
	padding:7vw 7vw 7vw 7vw;
	display:grid;
	grid-template-columns:19vw 19vw 19vw 19vw;
	grid-gap:3.33vw;
	
	@media screen and (max-width: 800px) {
		grid-template-columns:38vw 38vw;
		grid-gap:10vw;
	}

}

.navigation {
	width:30%;
	margin:0 auto;

}

.buttons {
	display:flex;
	justify-content: space-between;
}

.menuitem {
	display:flex;
	flex-direction:column;
	align-items: center;
	text-transform: uppercase;
	font-size:1.2vw;	
	font-weight: $bold;
}

.menuitemmarker {
	margin-top:1vw;
	width:5vw;
	border-top:solid .3vw #000000;
}



