
<section class="products"> 

	<div class="navigation" *ngIf="search!='all'">
		<div class="buttons">
			<div class="menuitem">
				<a (click)="search='newArrivals'">new arrivals</a>
				<p class="menuitemmarker" *ngIf="search=='newArrivals'"></p>
			</div>
			<div class="menuitem">
				<a (click)="search='topSellers'">top sellers</a>	
				<p class="menuitemmarker" *ngIf="search=='topSellers'"></p>
			</div>
			<div class="menuitem">
				<a (click)="search='featured'">featured</a>
				<p class="menuitemmarker" *ngIf="search=='featured'"></p>
			</div>
		</div>
	</div>



	<div class="productslist">
		<app-product *ngFor="let product of searchProducts(search,max)" [product]="product"></app-product>
	</div>

</section>
