<form #signupForm="ngForm" (ngSubmit)="submitForm();">

<div>
	<label for="fullname">Full name:</label>
	<input #spy type="text" id="fullname" name="fullname" [(ngModel)]="model.fullname">
</div>
<div>
	<label for="email">email:</label>
	<input required #spyEmail type="email" id="email" name="email" [(ngModel)]="model.email" pattern="">
</div>
<div>
	<select>
		<option *ngFor="let test of frequecy">{{test}}</option>
	</select>
</div>
<div>
<button (click)="test2()">hejsa</button>
</div>


<p>
{{model.fullname}}
</p>
<p>
{{model.email}}
</p>

<p>
spy: {{spyEmail.className}}
</p>

<button type="submit" [disabled]="!signupForm.invalid">signup</button>

</form>