<div class="outer-wrapper" >
  <div class="s-wrap s-type-1" role="slider">
    <input type="radio" id="s-1" name="slider-control" checked="checked">
    <input type="radio" id="s-2" name="slider-control">
    <input type="radio" id="s-3" name="slider-control">
    <input type="radio" id="s-4" name="slider-control">
    <input type="radio" id="s-5" name="slider-control">
    <ul class="s-content">
      <li class="s-item s-item-1"></li>
      <li class="s-item s-item-2"></li>
      <li class="s-item s-item-3"></li>
      <li class="s-item s-item-4"></li>
      <li class="s-item s-item-5"></li>
    </ul>
    <div class="s-control">
      <label class="s-c-1" for="s-1">|</label>
      <label class="s-c-2" for="s-2">|</label>
      <label class="s-c-3" for="s-3">|</label>
      <label class="s-c-4" for="s-4">|</label>
      <label class="s-c-5" for="s-5">|</label>
    </div>
    <div class="s-nav">
      <label class="s-nav-1 right" for="s-2">
        <img src="../../assets/images/header/slider_right_arrow.png">
      </label>
      <label class="s-nav-2 left" for="s-1">
        <img src="../../assets/images/header/slider_left_arrow.png">
      </label>
      <label class="s-nav-2 right" for="s-3">
        <img src="../../assets/images/header/slider_right_arrow.png">        
      </label>
      <label class="s-nav-3 left" for="s-2">
        <img src="../../assets/images/header/slider_left_arrow.png">        
      </label>
      <label class="s-nav-3 right" for="s-4">
        <img src="../../assets/images/header/slider_right_arrow.png">        
      </label>
      <label class="s-nav-4 left" for="s-3">
        <img src="../../assets/images/header/slider_left_arrow.png">        
      </label>
      <label class="s-nav-4 right" for="s-5">
        <img src="../../assets/images/header/slider_right_arrow.png">        
      </label>
      <label class="s-nav-5 left" for="s-4">
        <img src="../../assets/images/header/slider_left_arrow.png">        
      </label>
    </div>
  </div>
</div>



<!--
<div id="slider">
	<figure>
		<img src="../../assets/images/header/slider_image_1.png" alt>
		<img src="../../assets/images/header/slider_image_1.png" alt>
		<img src="../../assets/images/header/slider_image_1.png" alt>
	</figure>
</div>
-->
