$switch-speed: 1s;
$slider-number: 5;
$slider-width: 100% / $slider-number;

$image1: '../../assets/images/header/slider_image_1.png';
$image2: '../../assets/images/header/slider_image_1.png';
$image3: '../../assets/images/header/slider_image_1.png';
$image4: '../../assets/images/header/slider_image_1.png';
$image5: '../../assets/images/header/slider_image_1.png';

.outer-wrapper {
  width: 100%;
}

// basic styles
.s-wrap {
  width: 100%;
  padding-bottom: 44vw;
  position: relative;
  background-color: #efefe8;
  overflow: hidden;

  > input {
    display: none;
  }

  .s-content {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100% * $slider-number;
    height: 44vw;
    font-size: 0;
    list-style: none;
    transition: transform $switch-speed;
  }

  .s-item {
    display: inline-block;
    width: $slider-width;
    height: 44vw;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .s-item-1 {background-image: url($image1);}
  .s-item-2 {background-image: url($image2);}
  .s-item-3 {background-image: url($image3);}
  .s-item-4 {background-image: url($image4);}
  .s-item-5 {background-image: url($image5);}
}

.s-type-1 {
  .s-control {
    position: absolute;
    bottom: 18px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    transition-timing-function: ease-out;

    > label[class^="s-c-"] {
      display: inline-block;
      color:#ffffff;
      font-size:1.2vw;
      /*
      width: 12px;
      height: 12px;
      margin-right: 10px;
      border-radius: 50%;
      border: 1px solid #999;
      background-color: #efefe8;
      cursor: pointer;
      */
    }
  }

  .s-nav label {
    display: none;
    position: absolute;
    top: 50%;
    padding: 5px 10px;
    transform: translateY(-50%);
    cursor: pointer;

    img {
      height:3vw;
    }

    &::before,
    &::after {
      /*content: "";
      display: block;
      width: 8px;
      height: 24px;
      background-color: #fff;*/
    }

    &::before {margin-bottom: -12px;}

    &.left {
      left: 10px;


      /*
      &::before {transform: rotate(45deg);}

      &::after {transform: rotate(-45deg);}
      */
    }

    &.right {

      right: 10px;

      /*
      &::before {transform: rotate(-45deg);}

      &::after {transform: rotate(45deg);}
      */
    }
  }

  @for $i from 1 through $slider-number {
    #s-#{$i}:checked {
      & ~ .s-content {transform: translateX(-$slider-width * ($i - 1));}

      & ~ .s-control .s-c-#{$i} {
        //background-color: #333;
        font-size:1.6vw;
        color:#33d0de;
      }

      & ~ .s-nav .s-nav-#{$i} {display: block;}
    }
  }
}

.s-type-2 {
  .s-content {
    animation: slider-animation 50s ease-in-out infinite;

    &:hover {animation-play-state: paused;}
  }
}

@keyframes slider-animation {
  $i: 0;
  $j: 0;
  $times: ($slider-number - 1) * 2;
  @while $i < 100 {
    #{$i}%,
    #{$i + 7}% {
      @if $i < 50 {
        transform: translateX(-$slider-width * $j);
          } @else {
            transform: translateX(-$slider-width * ($times - $j));
              }
    }

    $i: $i + 100 / $times;
    $j: $j + 1;
  }
}