@import '../../assets/styles/variables';
@import '../../assets/styles/mixin';

.product {
	width:100%;
	height:33vw;
	@media screen and (max-width: 800px) {
		height:66vw;
	}
}

.productimage {
	position:absolute;
	width:19vw;
	height:29vw;
	@media screen and (max-width: 800px) {
		width:38vw;
		height:58vw;
	}

}

.productview {
	height:29vw;
	@media screen and (max-width: 800px) {
		height:58vw;
	}
}

.description {
	@include fontsetup($size_3,$normal,ignore,250%,#333333);
	text-align: center;
}

.buy {
	display:flex;
	justify-content: space-between;
}

.saleimage {
	position:absolute;
	z-index:10;
	width:6vw;
}

button {
	@include rectangleWithText(#ffffff,#333333,#333333,11vw,2.5vw,center,.1vw);
	@media screen and (max-width: 800px) {
		width:22vw;
	}	
	@include fontsetup($size_4,$normal,ignore,ignore,#333333);
	img {
		width:1.2vw;
	}
}

.price {
	@include fontsetup($size_2,$extrabold,ignore,ignore,#333333);	
	margin: auto 0;

}

.popup {
	position:absolute;
	margin-top:20vw;
	height:9vw;
	width:19vw;
	//background-color: #ffffff;
	opacity: 0.7;
	filter:blur(4px);
	overflow:hidden;

}





