<section class="product">
		
	<div class="productview" >
		<a [routerLink]="['/product',product.id]">
			<img class="productimage" src='../../assets/images/products/{{product.image}}'>
			<img class="sale" *ngIf="product.sale" class="saleimage" src='../../assets/images/products/sale.png'>
			<!--
			<div class="popup">
				dasdfsad
			</div>
			-->
		</a>
	</div>

	<div class="description">
		{{product.description}}
	</div>

	<div class="buy">
		<div class="price">
			${{product.price}}
		</div>

		<button>
			<img src="../../assets/images/product/bag.png" >
			add to bag
		</button>
	</div>

</section>

