@import '../../assets/styles/mixin';

.header {
	width:100%;
	padding-left:7vw;
	padding-right:7vw;
	z-index:10;
	display:flex;
	height:8vw;
	align-items:center;
	justify-content: space-between;
	color:#ffffff;
	text-transform: uppercase;
	font-size:1vw;
}

.header--above {
	position:absolute;	
}

.header--inline {
	background-color: #333333;
}

.logo {
	width:13vw;
}

.navigation {
	white-space: nowrap;
	img {
		height:1.5vw;
		padding-left:2vw;
		margin-bottom: -.3vw;
	}
}

.navigation__item {
	display: inline-block;
}

.navigation__burgermenu {
	cursor: pointer;
}

.burgerdropdown {
	z-index:20;
	position:absolute; 
	width:100%; 
	padding-left:7vw; 
	padding-right: 7vw;
	top:6vw;
}

.burgermenu {
	position:relative;
	float:right; 
	border: solid .25vw #ffffff;
	font-size:1.5vw;
	background-color: #333333;
	display:grid;
	grid-template-rows:4;
	@include links(#ffffff);
	a:hover {
		color:#33d0de;
	}
}

.burgermenu__item {
	padding:0.8vw;
}




