<div class="header header--{{look}} ">
	<img class="logo" src="../../assets/images/header/logo.png">
	<ul class="navigation">
		<li class="navigation__item">
			<img class="navigation__user" src="../../assets/images/header/user.png">
			login
		</li>
		<li class="navigation__item">
			<img class="navigation__bag" src="../../assets/images/header/bag.png">
			{{items_in_basket}}
		</li>
		<li  class="navigation__item">
			<img class="navigation__search" src="../../assets/images/header/search.png">
			<a ng-href="" (click)="toggleMenu()">
				<img class="navigation__burgermenu" src="../../assets/images/header/burgermenu.png">
			</a>
		</li>
	</ul>
</div>

<div class="burgerdropdown" *ngIf="menuVisible">
	<ul class="burgermenu">
		<li class="burgermenu__item">
			<a routerLink="/home">home</a>
		</li>
		<li class="burgermenu__item">
			<a routerLink="/collection">collection</a>
		</li>
		<li class="burgermenu__item">
			<a routerLink="/product/9">product</a>
		</li>
		<li class="burgermenu__item">
			<a routerLink="/contact">contact</a>
		</li>
	</ul>
</div>




