<!--
<p>
  lookbook works! {{recipe.title}}
</p>
-->



<section class="lookbook">
	<div class="mens">
		<img class="mens__picture" src="../../assets/images/lookbook/mens.png">
		<div class="mens__container">
			<div class="mens__text">
				mens<br>look
			</div>
		</div>
	</div>
	<app-signupemail look="inline"></app-signupemail>
	<!-- <div class="signup">
		<p>
			<img src="../../assets/images/lookbook/letter.png">
		</p>
		<p class="first">
			get our newsletter
		</p>
		<p class="second">
			join our maillist to receive
			<br>
			special discounts
		</p>
		<p>
			<input class="email" type="text" name="email" id="email" placeholder="enter your email">
		</p>
		<p>
			<button class="subscribe">
				subscribe
			</button>
		</p>

	</div> -->
	<div class="womens">
		<img src="../../assets/images/lookbook/womens.png">
	</div>
</section>



