@import '../../assets/styles/mixin';

.lookbook {
	padding: 7vw 7vw 7vw 7vw;
	display: flex;
	font-size:1vw;
}

.signup {
	position:relative;
	top:-0.83vw;
	width:34vw;
	box-shadow: 0px 1vw 3.5vw #eeeeee;

    outline: .3vw solid #dcdcdc;
    outline-offset: -1.2vw;	
    text-align: center;
    padding:3.5vw;
    height:calc(28.2vw + 2.4vw);
    p {
    	margin:1vw;
    }
    img {
    	width:4vw;
    }
}

img { width:100%; }

.mens {
	width:26vw;
	//@include backgroundimage('../../assets/images/lookbook/mens.png');
	z-index:20;
}

.mens__picture {
	width:26vw;
	position: absolute;
}

.mens__container {
	position:relative;
	top:-1.0vw;
	height:100%;
	display:flex;
	justify-content: center;
	align-items: center;
}

.mens__text {
	position:absolute;
	font-size:4vw;
	@include rectangleWithText2(ignore,#ffffff,#ffffff,18vw,18vw,center,0.2vw)
}

.womens {
	width:26vw;
	//@include backgroundimage('../../assets/images/lookbook/womens.png');
}

.formfield {
	width:100%;
	background-color: #ffffff;
	border-width:2px;
	border-color:#000000;
	padding: 20px 0px 20px 0px;
	font-size:1.5vw;
	text-transform:uppercase;	
	text-align:center;
	font-weight:bold;
}

.subscribe {
	@extend .formfield;
	border-style: solid;
}

.email {
	@extend .formfield;
	border-style: none none solid none;
}


.first {
	font-size:200%;
	font-weight:bolder;
	text-transform:uppercase;
}

.second {
	font-size:140%;
	color: #dcdcdc;
	text-transform:uppercase;
}
