/* You can add global styles to this file, and also import other style files */

@import './assets/styles/variables';

// ----------------------------------------------

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



// -----------------------------------------

@import '../node_modules/normalize.css/normalize.css';


html {
	font-family: 'Open Sans'
}

* {
	box-sizing:border-box;
}

button {
	border:none;
}

.font1 {
	font-size:$size_1;
	font-weight: $bold;
	text-transform: uppercase;
	line-height:160%;
}

.font2 {
	font-size:$size_2;
	font-weight: $bold;
	text-transform: uppercase;
	line-height:160%;
}

.font3 {
	font-size:$size_3;
	line-height:160%;
}

.font4 {
	font-size:$size_4;
	line-height:160%;
}



// ------------------ media ----------------------

/*
@media screen and (max-width: 800px) {
    body {
        background-color: $color-primary;
    }
}
*/




/*      standarder

padding 7vw
fonts h1-h4 ?







/*

@import url('https://fonts.googleapis.com/css?family=Muli:400,700');

body {
    background:#e8e8e8;
    font-family: 'Muli';
}

*/
