.socialmedia {
	padding:4vw 7vw 5vw 7vw;
	text-align:center;
}


.brands {
	width:100%;
	display:flex;
	align-items:center;
	justify-content: space-between;
	padding-left:12vw;
	padding-right:12vw;

	img {
		width: 7vw;
	}
}

.top {
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
	padding-top: 3vw;
	padding-bottom: 4vw;

	img {
		width: 22vw;
	}
}




