<div class="socialmedia">

<p class="top">
	<img src="../../assets/images/socialmedia/getuson.png">
</p>

<p class="brands">
	<a href="#">
		<img class="twitter" src="../../assets/images/socialmedia/twitter.png">
	</a>
	<a href="#">
		<img class="pinterest" src="../../assets/images/socialmedia/pinterest.png">
	</a>
	<a href="#">
		<img class="facebook" src="../../assets/images/socialmedia/facebook.png">
	</a>
	<a href="#">
		<img class="google" src="../../assets/images/socialmedia/google.png">
	</a>
	<a href="#">
		<img class="youtube" src="../../assets/images/socialmedia/youtube.png">
	</a>
	<a href="#">
		<img class="tumblr" src="../../assets/images/socialmedia/tumblr.png">
	</a>
</p>



<div>

