.backgroundimagedimensions {
	background-repeat:no-repeat;
	background-position:center;
	background-size:cover;		
}

@mixin backgroundimage($path) {
	@extend .backgroundimagedimensions;
	background-image:url($path);
}

.linkscore {
	text-decoration:none;
	&:hover {
		cursor: pointer;
	};
}

@mixin links($color) {
	a {
		@extend .linkscore;
		&:link {
			color: $color;
		};
		&:link {
			color: $color;
		};
		&:visited {
			color: $color;
		};
	}	
}

@mixin linkfont($color) {
	
	button {
		text-transform: uppercase;
		&:hover {
			cursor:pointer;
		}
	}


}

@mixin fontsetup($size,$weight,$transform,$lineheight,$color) {
	font-size: $size;
	font-weight: $weight;
	text-transform: $transform;
	line-height: $lineheight;
	color: $color;
}

/*
@mixin formfield($background_color,$border_color,$text_color,$width) {
	color: $text_color;
	width: $width;
	background-color: $background_color;
	border-width: 0.2vw;
	border-color: $border_color;
	padding: 1vw 1vw 1vwpx 1vw;
	font-size: 1.5vw;
	text-transform: uppercase;	
	text-align: center;
	font-weight: bold;
}
*/

.rectangleWithTextCore {
	padding: 1vw 1vw 1vwpx 1vw;
	font-size: 1.5vw;
	text-transform: uppercase;	
	font-weight: bold;	
	border-style: solid;
}

@mixin rectangleWithText2($background_color,$border_color,$text_color,$width,$height,$align,$border_width) {
	@extend .rectangleWithTextCore;
	color: $text_color;
	width: $width;
	height: $height;
	border-color: $border_color;
	background-color: $background_color;
	text-align: $align;
	border-width: $border_width;
	display:flex;
	justify-content: center;
	align-items: center;
}

@mixin rectangleWithText($background_color,$border_color,$text_color,$width,$height,$align,$border_width) {
	@extend .rectangleWithTextCore;
	color: $text_color;
	width: $width;
	height: $height;
	border-color: $border_color;
	background-color: $background_color;
	text-align: $align;
	border-width: $border_width;
}

@mixin placeholderColor($color) {
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: $color;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: $color;
	}
	&:-ms-input-placeholder { /* IE 10+ */
	  color: $color;
	}
	&:-moz-placeholder { /* Firefox 18- */
	  color: $color;
	}	
} 
