.review {
	padding-top: 50px;
	padding-bottom:50px;
	display:grid;
	grid-template-columns:15% 70% 15%;
	grid-template-rows:4;
	grid-gap:10px;
}

.intermediate {
	grid-column:2;
	text-align:center;
}

@mixin intermediate($row) {
	@extend .intermediate;
	grid-row:$row;
}

.text {
	@include intermediate(3)
}

.headline {
	@include intermediate(1)
	font-size:60px;
	font-weight: bold;
	letter-spacing: 10px;
	text-transform: capitalize;
}


