<app-navigation look="above"></app-navigation>
<app-slider></app-slider>
<app-lookbook></app-lookbook>
<app-topbrands></app-topbrands>
<app-musthave></app-musthave>
<app-products search="newArrivals" max="4"></app-products>
<app-allsummer image="allsummer25pctcollection.png" collection="allsummer25pct"></app-allsummer>
<app-review></app-review>
