<section class="topbrands">

<div class="top">
	<img src="../../assets/images/topbrands/topbrands.png">
</div>

<div class="brands">
	<a routerLink="/collection/pullandbear">
		<img src="../../assets/images/topbrands/pullandbear.png">
	</a>
	<a routerLink="/collection/michaelkors">
		<img src="../../assets/images/topbrands/michaelkors.png">
	</a>
	<a routerLink="/collection/mango">
		<img src="../../assets/images/topbrands/mango.png">
	</a>
	<a routerLink="/collection/missguided">
		<img src="../../assets/images/topbrands/missguided.png">
	</a>
	<a routerLink="/collection/monki">
		<img src="../../assets/images/topbrands/monki.png">
	</a>
</div>

<div class="bottom">
	<img src="../../assets/images/topbrands/progress.png">
</div>

</section>







<!--

	<img src="../../assets/images/topbrands/pullandbear.png">
	<img src="../../assets/images/topbrands/michaelkors.png">
	<img src="../../assets/images/topbrands/mango.png">
	<img src="../../assets/images/topbrands/missguided.png">
	<img src="../../assets/images/topbrands/monki.png">
</

-->
