.topbrands {
	background-color:#f6f6f6;
	padding:50px 7vw 20px 7vw;
}


.brands {
	width:100%;
	display:flex;
	justify-content: space-between;
	align-items:center;
	img {
		width:13vw;
	}
}

.top {
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
	padding-top: 1vw;
	padding-bottom: 4vw;
	img {
		width:28vw;
	}
}

.bottom {
	width:100%;
	display:flex;
	justify-content: center;
	align-items:center;
	padding-top:4vw;
	img {
		width:9vw;
	}
}

