{{hvadskerder}}

<hr>

<div *ngFor="let recipe of recipes" [class.hejsa]="recipe.is_featured">
	<p>
  		{{recipe.title | uppercase}}
  	</p>
  	<p>
  		<a [routerLink]="['/recipe',recipe._id]">
  			to recipe
  		</a>
  	</p>
	<p>
  		{{recipe.publisher}}
  	</p>
	<p>
  		<img [src]="recipe.image_url">
  	</p>
    <ul>
    	<li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
    </ul>
    <p>
    	number of reviews: {{ numberOfReviews(recipe) }} / avg rating: {{ avgRating(recipe) }}
    </p>
    <p>
    	social rank: {{recipe.social_rank}}
      
      <app-likebutton 
        [likeCount]="recipe.social_rank" 
        [recipeId]="recipe._id" 
        [recipe]="recipe" 
        (onButtonClicked)="logMessage($event)"
      ></app-likebutton>

    	<!-- <button (click)="testclick(recipe)">like</button> -->
    </p>
</div>

<hr>

<p *ngFor="let recipe of recipes">
	<a href="{{recipe.f2f_url}}">
	  	{{recipe.publisher}}
	</a>
</p>

